<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://kit.fontawesome.com/7da30b5c41.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="main">
        <div class="navigation">
            <div class="logo">
                <img src="{% static 'images/clogo.png' %}" alt="">
            </div>
            <div class="links">
                <ul>
                    <a href="" class="service"><li>Home</li></a>
                    <a href="" class="service"><li>Courses</li></a>
                    <a href="" class="service"><li>About</li></a>
                    <a href="" class="service"><li>Login</li></a>
                    <a href="" class="menu"><li><i class="fa-solid fa-bars"></i></li></a>
                    
                </ul>
            </div>
        </div>
        <div class="drop_menu">
            <div class="links2">
                <ul>
                    <a href="" class="service"><li>Home</li></a>
                    <a href="" class="service"><li>Courses</li></a>
                    <a href="" class="service"><li>About</li></a>
                    <a href="" class="service"><li>Login</li></a>
                    <a href="" class="menu"><li><i class="fa-solid fa-bars"></i></li></a>
                    
                </ul>
            </div>
        </div>
    </div>
</body>
</html>