
body{
    margin: 0px;
}
.nav{
    position: fixed;
    top: 0px;
    width: 100%;
}
.navigation{
    display: grid;
    grid-template-areas: 'logo links links links';
    height: 80px;
    background-color: rgba(0, 0, 0, 0.468);
    /* position: fixed; */
    width: 100%;
    z-index: 1;
}
.logo{
    grid-area: logo;
    /* background-color: blue; */
    display: flex ; 
    align-items: center;
}
.logo img {
    width:150px;
    filter: invert(100%) brightness(100%) ;
}
.links{
    grid-area: links;
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;

}

.links ul{
    display: flex;
    /* background-color: green; */
    /* width: 500px; */
    justify-content: space-evenly;
    align-items: center;
    color: white;

}
li{
    list-style: none;
    font-size: 19px;
    margin-right: 20px;

}
ul a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
ul li:hover{
    transform:scale(1.1) ;
    border-bottom: 2px solid beige;
    transition: ease 0.5s;
}
.menu, .menu1{
    display: none;
    
}
.links2{
    background-color: rgba(0, 0, 0, 0.871);
    margin: 0px;
}
.drop_menu{
    position: relative;
    width: 100%;
    top: 0px;
}
ol{
    margin: 0px;
    padding: 10px;
}
ol a{
    text-decoration: none;
    color: white;
}
ol a:hover li   {
    background-color: rgb(5, 42, 5);
}
#drop_sec{
    display: none;
}
#do_menu{
    display: none;
}
/* a:active{
    color: white;
    background-color: rgb(5, 58, 3);
} */
ol li{
    margin-top: 10px;
}
.main1{
    /* background-color: red; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    /* background-color: green; */
    margin-top: 10px;
    width: 350px;
    height: 350px;
    /* border: 2px solid black; */
    background-color: rgb(230, 230, 230);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
.login a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.logo1{
    /* background-color: burlywood; */
    display: flex;
    justify-content: center;
}
.logo1 p{
    font-size: 25px;
}
.lg_boxes{
    /* background-color: rgb(115, 115, 130); */
    height: 100%;
    display: flex; 
    justify-content: center;
     /* align-items: center; */
}
.st_log{
    /* background-color: rgb(187, 187, 161); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lg_boxes input{
    width: 90%;
    height: 35px;
    border-radius: 12px;
    border: 1px solid rgb(99, 98, 98);
}
.lg_boxes input[type='text'],
.lg_boxes input[type='password']{
    padding-left: 10px;
}
.lg_boxes input[type='submit']{
    background-color: green;
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.lg_boxes input[type='submit']:hover{
    background-color: rgb(12, 89, 12);

}
.goback{
    position: absolute;
    /* background-color: red; */
    padding: 20px;
}
.goback a{
    text-decoration: none;
    color: rgb(23, 92, 23);
    font-weight: 600;
}
.banner{
    margin: 0px;
    /* background-image: url(../images/TDJ.webp); */
    background-size: cover;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url('../images/TDJ.webp');   
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items: center; */
}
.banner .welcome{
    margin-top: 75px;
}
.banner p{
    margin: 0px;
    font-size: 65px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    /* margin-top: 75px; */

}
.main2{
    background-image: url('../images/banner-admin2.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-right: 50px; */

}
.cmsimag{
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.cms_image{
    position:relative;
    top: 15px;
    /* background-color: blue; */
    width: 100%;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: -1;
}
.login_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 12%;
    align-items: center;
    /* background-color: red; */
}

.cms_image img{
    width: 350px;
}
.staff_main{
    /* background-color:red; */
    background-image: url(../images/cms_Staff_banner.png);
    background-size: cover;
}
.ads{
    /* background-color: red; */
    padding: 20px 0px 20px 0px;
}
/* .ads img{
    border-radius: 20px;
} */
.ads{
    display: flex;
    justify-content: center;
    align-items: center;
}
.images{
    width: 100%;
}
.images img{
    height: 400px;
}
.vision{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}
.v_main{
    max-width: 60%;
    display: flex;
    background-color: rgb(159, 159, 159);
    border-radius: 20px;
}
.part1{
    flex: 1;
    display: flex;
    justify-content: flex-start;
}
.part1 img{
    width: 90%;
    border-radius: 20px 0px 0px 20px;
}
.mpart1{
    flex: 1;
}
.mpart2{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.mpart2 img{
    width: 90%;
    border-radius: 0px 20px 20px 0px;
}
.part2, .mpart1{
    padding: 10px;
    flex: 1;
    font-size: 19px;
}

footer{
    margin-top: 20px;
    background-color: rgb(51, 49, 49);
    color: white;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}
.icons{
    display: flex;
    /* background-color: red; */
    width: 100px;
    justify-content: space-between;
}
.contact{
    /* background-color: blue; */
    width: 80%;
    padding-left: 20px;
}
.clg_name{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.clg_name p{
    margin: 0px;
}
.admin_main{
    height: 90vh;
    margin-top: 80px;
    /* background-color: red; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}
.admin_part1{
    height: 90vh;
    width: 200px;
    background-color: black;
}
.admin_part1 .nav1 a{
    color: white;
    text-decoration: none;
}
.nav1{
    /* background-color: green; */
    padding: 10px;
}










/* Media Query */
@media (min-width:2560px){
    .links ul li{
        font-size: 30px;
    }
    .banner p{
        font-size: 85px;
    }
    .logo img{
        width: 200px;
    }
    .navigation{
        height: 100px;
    }
    .banner .welcome{
        margin-top: 95px;
    }
    .images img{
        height: 600px;
    }
    .v_main p{
        font-size: 30px;
    }
    footer{
        font-size: 20px;
    }
}
@media (max-width:790px){
    .banner p{
        font-size: 55px;
    }
    /* .ads{
        padding: 20px 5% 20px 5%;
    } */
    .v_main{
        max-width: 80%;
    }
}
@media (max-width:426px) {
    .service{
        display: none;
    }
    #do_menu{
        display: block;
    }
    .logo img{
        width: 100px;
    }
    .banner p{
        font-size: 35px;
    }
    .banner{
        height: 80vh;
    }
    .main2{
        justify-content: center;
        padding: 0px;
    }
    .ads{
        padding: 0px;
        padding-top: 10px;
    }
    .images{
        width: 100%;
    }
    .images img{
        height: 200px;
    }
    .v_main{
        flex-direction: column;
        margin-top: 10px;
    }
    .part1 img{
        width: 100%;
        border-radius: 20px 20px 0px 0px;
    }
    .mpart2 img{
        width: 100%;
        border-radius: 0px 0px 20px 20px;
    }
    .login_main{
        position:static;
    }
}

@media (max-width:376px) {
    .banner p{
        font-size: 30px;
    }
}
@media (max-width:321px) {
    .banner p{
        font-size: 25px;
    }
    .login{
        width: 310px;
    }
    .cms_image img{
        width: 300px;
    }
}