
body{
    margin: 0px;
}
.navigation{
    display: grid;
    grid-template-areas: 'logo links links links';
    height: 80px;
    background-color: rgb(5, 58, 3);
}
.logo{
    grid-area: logo;
    /* background-color: blue; */
}
.logo img {
    width:150px;
    filter: invert(100%) brightness(100%) ;
}
.links{
    grid-area: links;
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;

}

.links ul{
    display: flex;
    /* background-color: green; */
    /* width: 500px; */
    justify-content: space-evenly;
    align-items: center;

}
li{
    list-style: none;
    font-size: 19px;
    margin-right: 20px;

}
ul a{
    text-decoration: none;
    color: white;
}
ul li:hover{
    transform:scale(1.1) ;
    border-bottom: 2px solid beige;
}
.menu{
    display: none;
    
}
/* Media Query */

@media (max-width:426px) {
    .service{
        display: none;
    }
    .menu{
        display: block;
    }

}