<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student | Newpassword</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://kit.fontawesome.com/7da30b5c41.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
            $("#closebutton").click(function(){
                $("#messegediv").hide(500);
            });
        });
    </script>   
    
</head>
<body>
    <!-- <div class="goback">
        <a href="../"><i class="fa-solid fa-backward"></i> Go back</a>
    </div> -->
    <div class="main1">
       
        <div class="login_main">
            <div class="cms_image">
                <img src="{% static '/images/cms_student.jpg' %}" alt="" >
            </div>
            <div class="login">
                <a href="../">
                    <div class="logo1">
                        <p>                    Set New password
                        </p>
                    </div>
                </a>
                <div class="lg_boxes">
                    <form action="../studentnewpassword" method="POST" style="width: 100%;" class="st_log">
                        {% csrf_token %}
                        <input type="text" name="password" id="" placeholder="New Password"><br>
                        <input type="password" name="cnfpassword" id="" placeholder="Confirm Password""><br> 
                        <input type="submit" value="Change Password" class="bg-danger">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="messege1 messege2"  id="messegediv">
        {% if messages%}
        {% for message in messages%}    
        <div class="messegebranch" role="alert">
          <div class="messege">
            <strong>{{ message }}</strong>
          </div>
          <div class="closebutton">
            <i class="fa-solid fa-xmark" id="closebutton" style="cursor: pointer;"></i>
          </div>
        </div>
        {%endfor%}
        {%endif%}
    </div>
</body>
</html>