<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Student</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://kit.fontawesome.com/7da30b5c41.js" crossorigin="anonymous"></script>

    
</head>
<body>
    <div class="goback">
        <a href="../"><i class="fa-solid fa-backward"></i> Go back</a>
    </div>
    <div class=" main2">
       
        <div class="login_main adminlog">
            <div class="cmsimag">
                <img src="{% static '/images/cms-icon.png' %}" alt="" width="200px">
            </div>
            <div class="login">
                <a href="../">
                    <div class="logo1">
                        <p>Admin Login</p>
                    </div>
                </a>
                <div class="lg_boxes">
                    <form action="../admin_login" method="POST" style="width: 100%;" class="st_log">
                        {% csrf_token %}
                        <input type="text" name="username" id="" placeholder="Username"><br>
                        <input type="password" name="password" id="" placeholder="Password""><br> 
                        <input type="submit" value="Submit" class="bg-danger">
    
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>